.customer-col-md-4
  .col-md-12.customer-container
    %p
      .pull-right
        = link_to 'edit', edit_customer_path(customer), :class => 'basic_link'
        = link_to 'x', customer_path(customer), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this record?' }, :class => 'basic_link'
    %h2.customer-header-margin= customer.full_name
    = image_tag "#{customer.image}", :size => '90x120', :class => 'customer-element-margin'
    %p
      %strong Province:
      = customer.province.nil? ? 'None' : customer.province.name
    - unless customer.phone_number.blank?
      %p
        %strong Phone:
        = customer.phone_number
    - unless customer.email_address.blank?
      %p
        %strong Email:
        = customer.email_address
    - unless customer.notes.blank?
      %p
        %strong Notes:
        = customer.notes


